<div class="center-container">
  <div class="center-header">
    <h2>コミュニティ</h2>
    <div class="search-box">
      <input type="text" name="" value="" placeholder="検索">
    </div>
  </div>
  <div class="center-main">
  </div>
</div>
