<div class="center-container">
  <div class="center-header">
    <h2>ホーム</h2>
    <div class="tab-buttons">

    </div>
  </div>
  <div class="center-main">
    <% @posts.each do |post| %>
    <% @post = post %>
    <%= render 'template/post' %>
    <% end %>
  </div>
</div>
