main{
  margin: 0px;
  left: 0px;
}

.center-container{
  width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.center-container .logo{
  display: block;
  width: 200px;
  margin: 0 auto;
}

.account-inputs{
  margin-bottom: 20px;
}

.account-input{
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.account-button{
  font-size: 15px;
  font-weight: 600;
  background-color: #0095f6;
  color: white;
  padding: 6px 12px;
  border-radius: 7px;
}
