<div class="center-container">
  <h2>テストを登録する</h2><br>
  <%= form_tag("/post/share",{multipart:true}) do %>
  <input class="normal-input" type="text" name="" value="" placeholder="テストの名前"><br>
  <button class="normal-button" type="submit" name="button">シェアする</button><br><br>
  <% end %>
</div>
